.containerItemDetail {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 600px 1fr;
    grid-template-areas: 
        'images buy'
        'description none'
    ;
    gap: 2%
}

.image {
    grid-area: images;
    margin: auto;
    height: 95%;
}
.description {
    grid-area: description;
    border-top: 1px solid gray;
    padding-top: 2%;
    text-align: justify;
}
.buy {
    grid-area: buy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid gray;
    width: 75%;
    height: 60%;
    margin: auto;
}

.style-link {
    color: white;
    text-decoration: none;
}
.style-link:hover {
    color: white;
}

@media (max-width: 991px) {
    .containerItemDetail {
        display: block;
        width: 100%;
    }
    .image {
        display: block;
        margin: 2% auto;
        width: 75%;
    }
}