.center {
    text-align: center;
}

.userBar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

@media (max-width: 991px) {
    .userBar {
        display: block;
        margin: 2%;
    }
}