.logo {
    height: 70px;
    margin: auto 1%;
}

.bg-color {
    background: rgb(41, 129, 13);
    background: linear-gradient(0deg, rgba(41, 129, 13, 1) 55%, rgba(28, 6, 94, 1) 100%);
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: black;
}

.titleLogo {
    display: flex;
    align-items: center;
}

.cartSearch {
    display: flex;
    align-items: center;
}

.styleNone {
    text-decoration: none;
    color: black;
}

.styleNone:hover {
    text-decoration: none;
    color: black;
}

.loginAccess {
    margin-right: 20px;
}

@media (max-width: 991px) {
    .loginAccess {
        display: flex;
        width: fit-content;
        margin: 10px auto!important;
    }
}